body >div{
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu > li{
  cursor:pointer;
  padding:15px 15px;
}

.header .menu > li { 
  display: inline-block;
  position: relative;
}

.menu > li:hover {
  display:inline-block;
  background-color: rgb(192, 183, 183);
}


.header ul ul {
  display: none;
  background-color: rgba(192, 183, 183, .7);
  position: absolute;
  left: 0;
  top: 50px;
  width:70px;
  padding:0;
  text-align: left;
  width: 200px;
}

.header ul ul ul{
  display: none;
  background-color: rgba(192, 183, 183, .7);
  position: absolute;
  left: 0;
  top: 50px;
  width:70px;
  padding:0;
  text-align: left;
  width: 200px;
}


.header li:hover ul ul{
  display:block;
}
.header li:hover ul {
  display: block;
}

.menu:nth-child(1):active{
  background-color:rgb(211, 113, 113);
}


.header > ul > li{
  display: inline-block;
}


.header ul ul >li {
  text-align: left;
}

li > ul > li {
  display: block;
  padding: 12px 2px 2px 5px;
  margin: 5px;
}

li > ul > li:hover {
  background-color:rgb(126, 117, 117);
}

.path p{
  line-height: 1.7em;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body > div > div {
  width: 90%;
  height: 70vh;
} 

.dockleft {
  width: 25%;
  height:400px;
}

.kutu1{
  display: flex;
}

.header{
  width:auto;
  height:100px;
  background-color: #dadae4;
  border: 2px solid rgb(208, 208, 221);
 
}

.path{
  width:auto;
  height:70px;
  background-color: violet;
  border: 2px solid rgb(224, 19, 173);
}


.docktop{
  width:auto;
  height:70px;
  background-color:rgb(228, 174, 93);
  border: 2px solid rgb(224, 101, 19);
}

.dockleft{
  width:25%;
  height: 400px;
  background-color: violet;
  border: 2px solid rgb(224, 19, 53);
}

.dockright{
  width:25%;
  height:400px;
  background-color: rgb(87, 211, 118);
  border: 2px solid rgb(10, 107, 51);
}

.error{
  width:600px;
  height:100px;
  background-color: rgb(161, 169, 212);
  border: 2px solid rgb(31, 7, 7);
}

.content{
  height:296px;
  background-color: blueviolet;
  border: 2px solid rgb(224, 101, 19);
}

.dockbottom{
  width:auto;
  height:70px;
  background-color: rgb(130, 238, 157);
  border: 2px solid rgb(54, 159, 185);
}

.footer{
  width:auto;
  height:70px;
  background-color: rgb(231, 165, 89);
  border: 2px solid rgb(201, 80, 43);
}

.footer>p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}

.menu2 li ul {
  
 
  display: none;
  top:5px;
  right:20px;
 

}

.menu2 li{
  list-style:none;
  position: relative;
  text-align:left;
  margin:5px;
  padding:5px;
  border-right:1px solid rgba(0,0,0,.1);
}

.menu2 li ul>li{


 font-family: sans-serif;
 margin:2px;
 padding:3px;
 
}

.menu2 li:hover ul{

  display:block;
  
}



.yuvarlak >li{
  cursor:pointer;
  list-style:none;
  border:1px solid rgb(75, 70, 70);
  background-color:rgb(101, 149, 221);
  opacity: 1;
  width:90px;
  height:90px;
  border-radius: 45px;
  position:fixed;
  bottom:0px;
  right:0px;
}
.yuvarlak >li:before{
  content:'';
  border: 2px solid red;
  border-radius: 45px;
  position: absolute;
  bottom:0px;
  right:0px;
}

.yuvarlak >li:hover:before{
  width: 180px;
  height: 180px;
}

.yuvarlak li>ul{
  opacity: 0.7;
  display: none;
}


.yuvarlak>li>span{
  line-height: 5.5;
  color: rgb(75, 71, 71);
   
}


.yuvarlak li:hover ul {
  display: block;
}


 .yuvarlak li ul li
{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  color:black; 
  border: 1px solid #333;
  padding: 0;
  background-color: rgb(95, 135, 196);
}


.yuvarlak li ul li:nth-of-type(1)
{
 
  bottom: 120px;
  right:30px;
}


.yuvarlak li ul li:nth-of-type(2)
{
  bottom: 80px;
  right: 100px;
}


.yuvarlak li ul li:nth-of-type(3)
{
  right: 120px;
  bottom: 5px;
}

 

#box {
  max-width: 800px;
  position: relative;
  float: left;
  top:14px;
  left:7px;
}

#search {
  width: 250px;
  height: 30px;
 background-color: rgb(226, 125, 43);
 color:cornsilk;
 
}


.deneme::before {
  content: '';
  width: 30px;
  height: 30px;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.deneme::after {
  content: '/'
}