body>div{
  
    display: flex;
    justify-content: center;
    text-align: center;
 
}

body > div>div {
  width: 90%;
  height: 70vh;
  
} 

.dockleft{
  width: 25%;
  height:400px;
}

.kutu1{
  display: flex;
}





.header{
  width:auto;
  height:70px;
  background-color: #0000ff;
  border: 2px solid rgb(8, 8, 97);
 
}

.path{
  width:auto;
  height:140px;
  background-color: violet;
  border: 2px solid rgb(224, 19, 173);

}


.docktop{
  width:auto;
  height:70px;
  background-color:rgb(228, 174, 93);
  border: 2px solid rgb(224, 101, 19);
}


.dockleft{
  width:25%;
  height: 400px;
  background-color: violet;
  border: 2px solid rgb(224, 19, 53);
}



.dockright{
  width:25%;
  height:400px;
  background-color: rgb(87, 211, 118);
  border: 2px solid rgb(10, 107, 51);
}

.error{
  width:600px;
  height:100px;
  background-color: rgb(161, 169, 212);
  border: 2px solid rgb(31, 7, 7);
}

.content{
  height:296px;
  background-color: blueviolet;
  border: 2px solid rgb(224, 101, 19);
}

.dockbottom{
  width:auto;
  height:70px;
  background-color: rgb(130, 238, 157);
  border: 2px solid rgb(54, 159, 185);
}

.footer{
  width:auto;
  height:70px;
  background-color: rgb(231, 165, 89);
  border: 2px solid rgb(201, 80, 43);
}