div {
  justify-content: center;
 




}


div>div>div{
  display: flex;

  
 
 
}



div>div:nth-child(2){
 
  width:25%;
  
}

div>div:nth-child(3){
  width:70%;
}


.header{
  width: 1310px;
  margin-left:5px;
  height:100px;
  background-color:rgb(57, 57, 185);
  

}

.sidebar{
  margin:5px;
  height:400px;
  background-color: rgb(255, 136, 0);
  float:left;
}

.content {
  margin:5px; 
height:400px;
background-color: rgb(175, 55, 95);

}

.footer{
  margin:5px;
  background-color: rgb(71, 255, 80);
  width: 1310px;
  height:100px;
}